 ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjFdVerticalTop { vertical-align: top; }
#pjWrapper .pjFdCursorPointer { cursor: pointer; }
#pjWrapper .pjFdContainer{
	position: relative;
}

#pjWrapper .fdBtnLogout,
#pjWrapper .fdBtnAccount{margin-left: 15px;}

#pjWrapper .pjFdContainer .fdLoader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url([URL]app/web/img/frontend/pj-preloader.gif) no-repeat scroll center center rgba(153, 153, 153, 0.3);
    left: 0;
    position: absolute;
    top: 0;
}

#pjWrapper .pjFdColCustom { padding-right: 9px; padding-left: 0; }
#pjWrapper .pjFdColCustom .form-control { padding-right: 0; padding-left: 0; }

/* ==========================================================================
	#pjFdNav
========================================================================== */
#pjWrapper .pjFdNav .pjFdBtn { text-align: left; }
#pjWrapper .pjFdNav .pjFdBtnActive { color: #337ab7; }
#pjWrapper .fdButtonDisabled { cursor: default; opacity: .65;}
#pjWrapper .pjFdPanelLeft .panel { overflow: inherit !important; }

/* ==========================================================================
	#pjFdTimePicker
========================================================================== */
#pjWrapper .pjFdTimePicker { position: relative; }
#pjWrapper .pjFdTimePicker .input-group-addon { border-right: 0; border-radius: 4px 0 0 4px !important; }
#pjWrapper .bootstrap-timepicker-widget { max-width: 190px; }

/* ==========================================================================
	#pjFdAccourdion
========================================================================== */
#pjWrapper .pjFdAccourdionOuterHead > .panel-title > [aria-expanded="true"] .fa-plus { display: none; }
#pjWrapper .pjFdAccourdionOuterHead > .panel-title > [aria-expanded="false"] .fa-plus { display: inline-block; }
#pjWrapper .pjFdAccourdionOuterHead > .panel-title > [aria-expanded="true"] .fa-minus { display: inline-block; }
#pjWrapper .pjFdAccourdionOuterHead > .panel-title > [aria-expanded="false"] .fa-minus { display: none; }

#pjWrapper .pjFdProductHead > .panel-title > [aria-expanded="true"] .fa-chevron-down { display: none; }
#pjWrapper .pjFdProductHead > .panel-title > [aria-expanded="false"] .fa-chevron-down { display: inline-block; }
#pjWrapper .pjFdProductHead > .panel-title > [aria-expanded="true"] .fa-chevron-up { display: inline-block; }
#pjWrapper .pjFdProductHead > .panel-title > [aria-expanded="false"] .fa-chevron-up { display: none; }

#pjWrapper .pjFdPanelLeft .panel-group .panel-heading { padding: 0; }
#pjWrapper .pjFdPanelLeft .panel-group .panel-heading a { display: block; padding: 15px 20px; }
#pjWrapper .pjFdPanelRight .pjFdPanelHead .lead { vertical-align: middle; }

#pjWrapper .panel-default > .pjFdAccourdionOuterHead { border-radius: 4px; }
#pjWrapper .pjFdProductsType[aria-expanded="true"] { border-radius: 4px 4px 0 0; }
#pjWrapper .pjFdProductsType[aria-expanded="false"] { border-radius: 4px; }

#pjWrapper .pjFdPanelLeft .panel-group .panel-heading a[aria-expanded="true"] { border-radius: 4px 4px 0 0; }
#pjWrapper .pjFdPanelLeft .panel-group .panel-heading a[aria-expanded="false"] { border-radius: 4px; }

/* ==========================================================================
	#pjFdProducts
========================================================================== */
#pjWrapper .pjFdProductBody { padding-bottom: 0; }
#pjWrapper .pjFdProductMeta { margin-bottom: 0; }
#pjWrapper .pjFdProductMeta td { vertical-align: middle !important; }

#pjWrapper .pjFdContainer .pjFdBtnOrder { padding: 6px 0; text-align: center; }

/* ==========================================================================
	#pjFdPanelLeft
========================================================================== */
#pjWrapper .pjFdPanelLeft .panel { overflow: hidden; }

/* ==========================================================================
	#pjFdPanelRight
========================================================================== */
#pjWrapper .pjFdPanelRight .alert { border: 1px solid #ded8d8; border-right: 0; border-left: 0; border-radius: 0; }
#pjWrapper .pjFdPanelRight .alert-dismissible { padding-right: 15px; }
#pjWrapper .pjFdPanelRight .alert-dismissable .close,
#pjWrapper .pjFdPanelRight .alert-dismissible .close { top: 0; /*right: -30px;*/ right: 5px; }
#pjWrapper .pjFdPanelRight .form-control { padding: 6px 7px; }

/* ==========================================================================
	#pjFdCounter
========================================================================== */
#pjWrapper .pjFdCounter .form-control { padding: 6px 5px; text-align: center; }
#pjWrapper .pjFdCounter .btn { padding: 6px; }
#pjWrapper .pjFdCounter.input-group-sm > .form-control,
#pjWrapper .pjFdCounter.input-group-sm > .input-group-addon,
#pjWrapper .pjFdCounter.input-group-sm > .input-group-btn > .btn { padding: 5px; }
#pjWrapper .pjFdCounter.input-group-sm .form-control { padding: 6px 1px; }

/* ==========================================================================
	#pjFdGroupVaucher
========================================================================== */
#pjWrapper .pjFdGroupVaucher .btn-default,
#pjWrapper .pjFdGroupVaucher .btn-default:hover { border-color: #adadad; }

#pjWrapper .fdCartPriceCol{ /*margin-left: -12px;*/ padding: 0; }
#pjWrapper .fdCartPriceCol span { word-break: break-all; }
#pjWrapper .fdCartItemRemove{z-index: 99999;}
/* ==========================================================================
	.Modal
========================================================================== */
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.modal-dialog{z-index: 9999;}
/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 990px ) {
	/* ==========================================================================
		#pjFdProducts
	========================================================================== */
	#pjWrapper .pjFdBtnOrder { margin-top: 20px; }
}

/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and ( max-width: 767px ) {
	/* ==========================================================================
		#pjFdProducts
	========================================================================== */
	#pjWrapper .pjFdProductContent > .col-xs-12 { width: 75%; }
	#pjWrapper .pjFdProductContent > .col-xs-6 { width: 25%; }
	#pjWrapper .pjFdProductContent > .col-xs-12 > .col-xs-8 { width: 45%; }
	#pjWrapper .pjFdProductContent > .col-xs-12 > .col-xs-12 { width: 55%; }

	/* ==========================================================================
		#pjFdPanelLeft
	========================================================================== */
	#pjWrapper .pjFdPanelLeft .pjFdPanelHead .col-xs-12 { width: 50%; }

	/* ==========================================================================
		#pjFdPanelRight
	========================================================================== */
	#pjWrapper .pjFdPanelRight .btn-block { display: inline-block; width: auto; }
}

@media only screen and ( max-width: 480px ) {
	/* ==========================================================================
		#pjFdProducts
	========================================================================== */
	#pjWrapper .pjFdProductContent > .col-xs-12,
	#pjWrapper .pjFdProductContent > .col-xs-6,
	#pjWrapper .pjFdProductContent > .col-xs-12 > .col-xs-8,
	#pjWrapper .pjFdProductContent > .col-xs-12 > .col-xs-12 { width: 100%; text-align: center; }
	#pjWrapper .pjFdProductContent p { padding-top: 10px; }
	#pjWrapper .pjFdProductContent img { display: inline-block; }

	#pjWrapper .pjFdColCustom { padding-right: 15px; padding-left: 15px; }
	#pjWrapper .pjFdColCustom .form-control { padding-right: 10px; padding-left: 10px; }

	/* ==========================================================================
		#pjFdPanelLeft
	========================================================================== */
	#pjWrapper .pjFdPanelLeft .pjFdPanelHead .col-xs-12 { width: 100%; }
	#pjWrapper .pjFdPanelLeft .pjFdPanelHead .col-xs-12:last-of-type { padding-top: 15px; }
	#pjWrapper .pjFdHeaderRight .pull-right{float: left !important;}
	#pjWrapper .pjFdHeaderRight .fdBtnLogout,
	#pjWrapper .pjFdHeaderRight .fdBtnAccount{margin-left: 0px !important; margin-right: 15px !important;}
	
}

@media only screen and ( max-width: 390px ) {
	/* ==========================================================================
		#pjFdCounter
	========================================================================== */
	#pjWrapper .pjFdCounter .form-control,
	#pjWrapper .pjFdCounter .btn { padding-right: 5px !important; padding-left: 5px !important; }
	
	#pjWrapper .row .col-xss-12{width: 100%;}
}

/** MEGAMIND **/
body {
  
  padding-top: 70px;
}
nav {
	
	padding: 10px 0px;
}
@media only screen and ( min-width: 767px ) {
	div.sticky {

	  position: sticky !important;
	  top: 120px;
	  display: block !important;	
	}
}
@media only screen and ( max-width: 480px ) { 
	.menu-left {
		display: none;
	}
	footer {
		display: none !important;
	}
	#btn-checkout {
		margin-bottom: 30px;
	}
	/*[id^=fdCart_] {
        display: none !important;
    }*/
}
@media only screen and ( min-width: 480px ) { 
	#btn-cart {
		display: none !important;
	}
}
footer{
	
	position: relative;
	z-index: 1;
	margin-top: 20px;
}
.d-left {
    height: 100vh;
    background-color: pink;
}
.text-nav {
	font-weight: 600;
	font-size: 17px;
	/*color: #55ad32 !important;*/
}



.container-fluid {
	padding: 0px !important;
}
h1{
	margin: 0px !important;
}
.footer-title{
	text-transform: uppercase;
	font-size: 17px !important;
	font-weight: 600 !important;
}
.text-list {
	color: gray !important;
}
.navbar {
	border: none !important;
}
.left-box {
	
	height: 90vh;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
}
l
.navbar-right {
	margin-top: 8px !important;
}
.row {
	margin-top: 40px !important;
}
.navbar-right .pjFdBtnHome {
	background: none !important;
	border: none !important;
    font-size: 17px !important;
    font-weight: 600 !important;
}
.navbar-right .pjFdBtnAcc {
	background: none !important;
	margin-left: 0px !important;
}
.list-unstyled .pjFdBtnHome {
	background: none !important;
}
.fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	display: block !important;
	background-color: #e85d4b;
	text-align: center;
	font-weight: 900;
}
.fixed-bottom a {
	color: white;
}
.pjFdBtnOrder {
    background: #fff;
    border: none;
    padding: 7px 10px !important;
    border-radius: 3px;
    margin-top: -5px;
}
.prdRow {
	margin-top: 0px !important;
}
/*.upDown {
	display: inline-block;
	margin-left: 95%;
}*/
.pjFdBtnOrder {
	margin-top: 0px !important;
}


/** !MEGAMIND *