* {
    margin: 0px;
    padding:  0px;
    font-size: 18px;
    font-family: 'Arial';
}

td,
th,
tr,
table {
    border-top: 0px solid black;
    border-collapse: collapse;
    font-size: 18px;
}

td.kitchen,
th.kitchen,
th.nani {
    /*width: 75px;*/
    max-width: 300px;
    text-align: left;
    /*padding: 3px 0px 3px 15px;*/
    font-size: 20px;
}

th.top {
    /*width: 75px;*/
    max-width: 300px;
    text-align: left;
    /*padding: 3px 0px 3px 15px;*/
    font-size: 14px;
}

.header td {
    padding: 3px 0px 3px 5px;
    text-align: left;
}
td.quantity,
th.quantity {
    /*width: 40px;*/
    max-width: 300px;
    word-break: break-all;
    padding: 10px;
}

td.price,
th.price {
    /*width: 40px;*/
    max-width: 300px;
    word-break: break-all;
    padding: 10px;
}
td {
    padding: 3px 0px;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
    max-width: 100vw;
    margin:  5px 10px;
}
hr {
    border: 1px solid #000;
}

img {
    max-width: inherit;
    width: inherit;
    -webkit-print-color-adjust: exact;
}

#receiptContainer table {
    margin: 5px 3px; 
    text-align: center;
}

#receiptContainer .headerTD {
    float: right; 
    margin-right: 50px;
}
#receiptContainer .itemTD {
    padding: 5px 5px; 
    float: right; 
    margin-right: 30px;
}


h3,
h5{
    display: inline-block;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
}

.nextbutton {
    background-color: #337ab7;
    border: 1px solid #C9C9C9;
    color: #ffffff !important;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 85px;
}
.nextbutton:hover
{
    background-color: #286090;
    border-color: #286090;
    color: #FFFFFF;
}
.printbutton {
    background-color: #337ab7;
    border: 1px solid #C9C9C9;
    color: #ffffff !important;
    display: inline-block;
    height: auto;
    line-height: 25px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.printbutton:hover
{
    background-color: #286090;
    border-color: #286090;
    color: #FFFFFF;
}